<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.thu.tpro.android4bikes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.driving.ActivitySettings"></activity>
        <activity android:name=".activities.driving.ActivityDrivingMode" />
        <activity android:name=".activities.info.ActivityInfoMode" />
        <activity android:name=".activities.menu.ActivityCreateTrack" />
        <activity android:name=".activities.menu.ActivityRoadsideAssistance" />
        <activity android:name=".activities.menu.ActivityTracks" />
        <activity android:name=".activities.menu.ActivityShowProfile" />
        <activity android:name=".activities.ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>